echo "/***************************************************************************** 
 * @file  : ${filename} 
 * @brief : (c) Copyright 2019 Secsmart. All Rights Reserved. 
 * @author: ${author} 
 * @email : ${email} 
 * @date  : $(date "+%Y-%m-%d") 
*****************************************************************************/"
